.blur-6 {
  border: 1px none;
  height: 390px;
  left: 63px;
  position: absolute;
  top: 96px;
  /* width: 358px; */
}

.ellipse-2166-4 {
  background-color: var(--cornflower-blue);
  border: 1px none;
  border-radius: 96px;
  filter: blur(164px);
  ;
  height: 192px;
  left: 166px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  /* width: 192px; */
}

.ellipse-2167-9 {
  background-color: var(--bright-turquoise);
  border: 1px none;
  border-radius: 96px;
  filter: blur(252px);
  ;
  height: 192px;
  left: 0;
  opacity: 0.34;
  position: absolute;
  top: 198px;
  width: 192px;
}

.blur-6.blur-7 {
  left: 229px;
}