.image-sm-5 {
  border: 1px none;
  height: 80px;
  min-width: 80px;
}

.overlap-group-1 {
  height: 85px;
  position: relative;
  width: 86px;
}

.ellipse-2167-4 {
  background-color: var(--bright-turquoise);
  border: 1px none;
  border-radius: 24px;
  filter: blur(34px);;
  height: 48px;
  left: 38px;
  opacity: 0.3;
  position: absolute;
  top: 37px;
  width: 48px;
}

.container-6 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #26262629 , 0px 1px 2px #2626260a;
  display: flex;
  height: 80px;
  left: 0;
  min-width: 80px;
  padding: 0 20px;
  position: absolute;
  top: 0;
}

.x-sber-1 {
  height: 40px;
  width: 40px;
}

