.x36-stroke-ds_ic_36_mail,
.x36-stroke-ds_ic_36_mail-1,
.x36-stroke-ds_ic_36_mail-2,
.x36-stroke-ds_ic_36_mail-3,
.x36-stroke-ds_ic_36_mail-4 {
  border: 1px none;
  height: 36px;
  min-width: 36px;
  position: relative;
}

.shape-5,
.shape-6,
.shape-7,
.shape-8,
.shape-9 {
  height: 18px;
  left: 6px;
  position: absolute;
  top: 9px;
  width: 24px;
}

