.image-hands-3 {
  border: 1px none;
  width: max-content;
  align-self: center;
  align-items: center;
  height: 250px;
  width: 300px;
  background-size: contain;

}

.image-hands-3.image-hands-4 {
  /* height: 296px; */
  /* left: 412px;
  top: 148px; */


}